.card{
  margin-right: 10px;
  border-radius: 5px;
  height: auto;
  .card-content{
    font-weight: bold;
    padding:auto;
    div{
      margin-bottom: 10px;
      i{
        font-size: 25px;
      }s
      p{
        font-size: 15px;
      }
    }
    .radius{
      border-radius: 10%;
    }
  }
}
.frais{
  padding: 5px 0px ;
  color: #082b46;
}

.chart{
  margin-right: 20px;
}
table{
  height: 221px !important;
}

.col{
  padding: 0px 0px;
  border-radius: 5px;
}
