.card{
  margin-right: 20px;
  margin-top: 60px;
  border-radius: 10px;
  .card-content{
    font-size: 18px;

  }
  .card-action{
    button,a{
      border-radius: 5px;
    }

  }
}
#ce{
  margin-top: 25px;
  border-radius:10px;
  overflow: hidden;
  padding: 0px 0px;

}
#fiche{
  margin-top: 25px;
}
#attestation{
  @extend #fiche;
}

.display-none{
  display: none;
}

.modal{
  border-radius: 10px;
}

table tbody tr{
  &:hover{
    cursor: pointer;
  }
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }



// +++++++++++++++++++ CARTE D'ETUDIANT ++++++++++++++++
.hidden-ce {
  width: 60em;
  height: 50em;
  overflow: hidden;
  border: solid 1px black;
}

.carte_etudiant {
  display: flex;
  padding: 2px 5px;
  width: 100%;
  justify-content: space-between;
}

.left-header {
  display: flex;
  justify-content: space-between;

  .text-center {
    font-weight: bold;
    width: 70%;
    border: solid 1px black;
    text-align: center;
  }

  .image {
    width: 30%;
    border: solid 1px black;
  }
}

.left-body .text-center {
  text-align: center;
}

.card-e {
  border: solid 1px black;

  .text-justify {
    text-align: center;
  }
}

.left-footer {
  .flex {
    display: flex;
    justify-content: space-around;
  }

  P {
    font-size: small;
    text-align: right ;
  }
}


.right {

  padding-top: 1em;
  .visite_medicale {
    margin-bottom: 3em;
  }

  .text-center {
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.image_scan {
  margin-top: 5em ;
  padding: 1em;
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
}

.background {
  height: 2em;
  width: 95em;
  background-color: rgba(15, 77, 247, 0.568);
  transform: rotateZ(-39deg);
  position: relative;
  bottom: 30em;
  right: 12em;
}

// +++++++++++++++++++ FICHE D RENSEIGNEMENT ++++++++++++++++

.fiche_renseignement {
  font-family: 'Times New Roman', Times, serif;
  padding: 1em 2em;
  width: 80%;
  border: solid 1px black;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: 0.5em 1em;

    .right-header {
      text-align: center;
    }
  }

  .title {
    .text {
      text-align: center;
    }
  }

  .body {
    h6 {
      text-align: center;
    }
  }

  table {
    border: solid 1px black;

    th {
      text-align: center;
      border: solid 1px black;
    }

    td {
      border: solid 1px black;
    }
  }


  .footer {
    margin-bottom: 2em;
    .line {
      display: flex;
      justify-content: space-between;
    }

    .signature {
      margin-right: 2em;
      text-align: right;
    }
  }
}


.attestation {
  font-family: 'Times New Roman', Times, serif;
  padding: 1em 2em;
  width: 80%;
  border: solid 1px black;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: 0.5em 1em;

    .right-header {
      text-align: center;
    }
  }

  .title {
    .text {
      text-align: center;
    }
  }

  table {
    border: solid 1px black;

    th {
      text-align: center;
      border: solid 1px black;
    }

    td {
      border: solid 1px black;
    }
  }



}
